@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Berkshire+Swash&family=Rancho&family=Sora&display=swap');
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #eee9e9;
}
:root {
	--reg-text: 'Sora', sans-serif;
	--kinda-cursive: 'Bad Script', cursive;
	--paint-like: 'Rancho', cursive;
	--fancy: 'Berkshire Swash', cursive;
}
  